* {
    background-color: yellow;
}   
.overall {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-top:100px;

}
.calculator {
    display:flex;
    flex-direction: column;
}
.display {
    display:flex;
    width:304px;
    height: 90px;
    border: 1px solid #ddd;
    background-color:rgb(167, 167, 167);
    gap:0px;
    margin:0px;
    padding:0px;
    justify-content:right;
    align-items: left;
    border-style: solid;
    border-color: black;
  }
  .displayItems {
    display: flex;
    background-color:rgb(167, 167, 167);
    padding:10px;
    gap:10px;
    margin:10px;
    font-size: 32px;
  }
  
.buttons {
    display: grid;
    width:60px;
    height:60px;
    aspect-ratio:1;
    max-width:300px;
    max-height:300px;
    margin:5px;
    background-color:rgb(167, 167, 167);
    border:black;
    border-style: solid;
    align-items: center;
    justify-content: center;
  }
  
  .row1, .row2, .row3, .row4, .row5{
    display:flex;
    background-color:rgb(167, 167, 167);
  }

  /*.grid-item {
    padding: 1em;
    border: 1px solid #ddd;
    background-color:rgb(167, 167, 167);
    aspect-ratio:1;
    
  }
  */
